<div class="container">
  <div class="row">
    <div class="col-md-5 toppad pull-right col-md-offset-3">
      <div class="container">
        <div class="row">
          <div class="col-4 ms-3">
            <img [src]="PhotoFilePath" height="256px;" width="256px;" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="
        col-xs-12
        col-sm-12
        col-md-3
        col-lg-3
        col-xs-offset-0
        col-sm-offset-0
        col-md-offset-3
        col-lg-offset-3
        toppad
      "
    >
      <div class="row">
        <div class="col-md-3 col-lg-3 align-center"></div>

        <div class="col-md-9 col-lg-9">
          <table class="table table-user-information">
            <tbody>
              <tr>
                <td>Name:</td>
                <td>{{ EmployeeName }}</td>
              </tr>
              <tr>
                <td>Address:</td>
                <td>{{ HomeAddress }}</td>
              </tr>

              <tr></tr>
              <tr>
                <td>Mail:</td>
                <td>{{ Mail }}</td>
              </tr>
              <tr>
                <td>Birthday:</td>
                <td>{{ DateOfBirth }}</td>
              </tr>
              <tr>
                <td>Employed:</td>
                <td>{{ DateOfEmployment }}</td>
              </tr>
              <tr>
                <td>Workplace:</td>
                <td>{{ Workplace }}</td>
              </tr>
              <tr>
                <td>Superior:</td>
                <td>{{ Superior }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
