<!-- Button trigger modal -->

<div class="col text-center">
  <button
    type="button"
    class="btn btn-primary m-3"
    data-toggle="modal"
    data-target="#exampleModal"
    (click)="addClick()"
    data-backdrop="static"
    data-keyboard="false"
  >
    Add Employee
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ ModalTitle }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit [emp]="emp" *ngIf="ActivateAddEditEmpComp"></app-add-edit>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="EmployeeProfile"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeClick()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-profile [emp]="emp" *ngIf="ActivateAddEditEmpComp"> </app-profile>
      </div>
    </div>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <div class="centering">
          <span class="spacer">Id</span>

          <input
            [(ngModel)]="EmployeeIdFilter"
            class="form-control-sm"
            (keyup)="filterFn()"
            placeholder="Filter"
          />

          <button
            type="button"
            class="btn btn-light"
            (click)="sortResult('Id', true)"
          >
            <app-arrow [arrowType]="true"></app-arrow>
          </button>
          <button
            type="button"
            class="btn btn-light"
            (click)="sortResult('Id', false)"
          >
            <app-arrow></app-arrow>
          </button>
        </div>
      </th>

      <th>
        <div class="centering">
          <span class="spacer">Name</span>
          <input
            [(ngModel)]="EmployeeNameFilter"
            class="form-control-sm"
            (keyup)="filterFn()"
            placeholder="Filter"
          />
          <button
            type="button"
            class="btn btn-light"
            (click)="sortResult('EmployeeName', true)"
          >
            <app-arrow [arrowType]="true"></app-arrow>
          </button>
          <button
            type="button"
            class="btn btn-light"
            (click)="sortResult('EmployeeName', false)"
          >
            <app-arrow></app-arrow>
          </button>
        </div>
      </th>
      <th>
        <div class="centering">
          <span class="spacer"> Born</span>
          <button
            type="button"
            class="btn btn-light"
            (click)="sortResult('DateOfBirth', true)"
          >
            <app-arrow [arrowType]="true"></app-arrow>
          </button>
          <button
            type="button"
            class="btn btn-light"
            (click)="sortResult('DateOfBirth', false)"
          >
            <app-arrow></app-arrow>
          </button>
        </div>
      </th>
      <th>
        <div class="centering">
          <span class="spacer"> Employed</span>

          <button
            type="button"
            class="btn btn-light"
            (click)="sortResult('DateOfEmployment', true)"
          >
            <app-arrow [arrowType]="true"></app-arrow>
          </button>
          <button
            type="button"
            class="btn btn-light"
            (click)="sortResult('DateOfEmployment', false)"
          >
            <app-arrow></app-arrow>
          </button>
        </div>
      </th>
      <th>
        <div class="centering">
          <span class="spacer"> Workplace</span>

          <button
            type="button"
            class="btn btn-light"
            (click)="sortResult('Workplace', true)"
          >
            <app-arrow [arrowType]="true"></app-arrow>
          </button>
          <button
            type="button"
            class="btn btn-light"
            (click)="sortResult('Workplace', false)"
          >
            <app-arrow></app-arrow>
          </button>
        </div>
      </th>
      <th class="fix-width-column">
        <div class="centering">Options</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dataItem of EmployeeList">
      <td>{{ dataItem.Id }}</td>
      <td>{{ dataItem.EmployeeName }}</td>
      <td>{{ dataItem.DateOfBirth }}</td>
      <td>{{ dataItem.DateOfEmployment }}</td>
      <td>{{ dataItem.Workplace }}</td>
      <td>
        <button
          type="button"
          class="btn btn-light mr-1"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="editClick(dataItem)"
          data-backdrop="static"
          data-keyboard="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-pencil-square"
            viewBox="0 0 16 16"
          >
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
            />
            <path
              fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
            />
          </svg>
        </button>
        <button
          type="button"
          class="btn btn-light mr-1"
          (click)="deleteClick(dataItem)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
            />
            <path
              fill-rule="evenodd"
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
            />
          </svg>
        </button>
        <button
          type="button"
          class="btn btn-light mr-1"
          data-toggle="modal"
          data-target="#EmployeeProfile"
          (click)="viewProfile(dataItem)"
          data-backdrop="static"
          data-keyboard="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-search"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
            />
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>
